node_modules
/.pnp
.pnp.js

client/node_modules

# testing
/coverage

# production
client/build
dist-server

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secrets

server/config/dev.config.js
server/config/prod.config.js
server/config/test.config.js
